antlr4-python3-runtime==4.8
bitarray==2.6.0
certifi==2022.12.7
cffi==1.17.1
charset-normalizer==2.1.1
cmake==3.25.0
colorama==0.4.6
coverage==7.9.1
Cython==3.1.2
exceptiongroup==1.3.0
-e git+https://github.com/ictnlp/StreamSpeech.git@220273fd13aaae648f7aaae83282df1f60246f93#egg=fairseq&subdirectory=fairseq
filelock==3.13.1
flake8==7.3.0
hydra-core==1.0.7
idna==3.4
iniconfig==2.1.0
Jinja2==3.1.4
joblib==1.5.1
lit==15.0.7
lxml==6.0.0
MarkupSafe==2.1.5
mccabe==0.7.0
mpmath==1.3.0
networkx==3.3
ninja==1.11.1.4
numpy==1.26.4
omegaconf==2.0.6
packaging==25.0
pandas==2.3.0
pillow==11.0.0
pluggy==1.6.0
portalocker==3.2.0
pycodestyle==2.14.0
pycparser==2.22
pydub==0.25.1
pyflakes==3.4.0
Pygments==2.19.2
pytest==8.4.1
pytest-cov==6.2.1
pytest-flake8==1.3.0
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.2
regex==2024.11.6
requests==2.28.1
sacrebleu==2.3.1
scikit-learn==1.7.0
scipy==1.15.3
sentencepiece==0.2.0
-e git+https://github.com/ictnlp/StreamSpeech.git@220273fd13aaae648f7aaae83282df1f60246f93#egg=simuleval&subdirectory=SimulEval
six==1.17.0
sounddevice==0.5.2
soundfile==0.13.1
sympy==1.13.3
tabulate==0.9.0
TextGrid==1.6.1
threadpoolctl==3.6.0
tomli==2.2.1
torch==2.0.1+cu117
torchaudio==2.0.2+cu117
torchvision==0.15.2+cu117
tornado==6.5.1
tqdm==4.64.1
triton==2.0.0
typing_extensions==4.12.2
tzdata==2025.2
urllib3==1.26.13
yt-dlp==2025.6.30
